@import '~@/assets/styles/default';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  padding: 100px 0;
  background-color: @body-background;
  background-size: 100% 100%;
}

.title {
  font-size: 24px;
  text-align: center;
}

.content {
  min-width: 330px;
  margin: 0 auto;
  button {
    width: 100%;
  }
}

@media (max-width: @screen-md) {
  .container {
    background: deepskyblue;
  }
}
